@import 'variaveis';

.beneficios {
    background-color: #f2f8f5;
}

.container-titulos {
    display: grid;
    grid-template-areas: 
        "titulo content"
        "titulo button";
    justify-content: space-around;
    gap:10px;
    padding: 4rem;
    @media (max-width: 680px) {
        grid-template-areas: 
        "titulo"
        "content"
        "button";
    }
    h1 {
        grid-area: titulo;
        font-size: 60px;
    }
    
    p {
        grid-area: content;
        font-family: "Space Grotesk", sans-serif;
        font-size: 26px;
    }

    
    button {
        grid-area: button;
        width: 20rem;
        border-radius: 60px;
        font-size: 26px;
        padding: 1.5rem;
        background-color: $cor-verde-sec;
        color: #000000;
        border: none;
        font-family: "Space Grotesk", sans-serif;
        &:hover {
            background-color: #f2f8f5;
            transition: .7s;
            border: $cor-verde-sec 1px solid;
            color: $cor-verde-sec;
        }
        @media (max-width: 600px) {
            width: 17rem;
        }
    }
}

.secao-beneficios {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    @media (max-width: 1450px) {
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 10rem;
        margin-right: 10rem;
    }

    @media (max-width: 1050px) {
        grid-template-columns: repeat(2, 1fr); 
        margin-left: 5rem;
        margin-right: 5rem;
    }

    @media (max-width: 660px) {
        grid-template-columns: 1fr; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
    }
    div {
        background-color: #f2f8f5;
        border: $cor-verde-sec 1px solid;
        color: $cor-verde-sec;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        width: 15rem;
        font-family: "Space Grotesk", sans-serif;  
        cursor: pointer;
        
        h5 {
            margin-bottom: 10px;
            transition: color 0.3s ease;
        }

        .descricao {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.8s ease, max-height 1.5s ease;
            font-size: 0.9em;
            color: #555;
        }
    }
}

.cartao1,.cartao2,.cartao3,.cartao4,.cartao5,.cartao6,.cartao7,.cartao8 {
    max-height: 110px;
}

.cartao5,.cartao6,.cartao7,.cartao8 {
    margin-bottom: 3rem;
}

.cartao1:hover,.cartao2:hover,.cartao3:hover,.cartao4:hover,.cartao5:hover,.cartao6:hover,.cartao7:hover,.cartao8:hover {
    max-height: 300px;
    background-color: $cor-verde-sec;
    color: $cor-branca;
    transition: .7s;
    .descricao {
        opacity: 1;
        max-height: 200px;
    }
}

.desafios-beneficios {
    margin-left: 15rem;
    margin-top: 5rem;
    border-bottom: $cor-verde-sec 4px solid;
    width: 60vw;
    @media (max-width:1450px) {
        margin-left: 2rem;
    }
}





