@import 'variaveis';


body {
    background-color: #f2f8f5;
}

.contato {
    background-color: #f2f8f5;
    display: grid;
    margin: 5rem 5rem;
    grid-template-areas:
        "titulo-contato negocios sobrenos faleconosco email"
    ;

    .titulo-contato {
        grid-area: titulo-contato;
    }

    .negocios {
        grid-area: negocios;

        a {
            color: #212529;
        }
    }

    .sobrenos {
        grid-area: sobrenos;

        a {
            color: #212529;
        }
    }

    .faleconosco {
        grid-area: faleconosco;
    }

    .email {
        grid-area: email;
        nav {
            margin: 0;
            padding: 0;
            div {
                margin: 0;
                padding: 0;
                form {
                    margin-top: 1rem;
                    input {
                        width: 20rem;
                        padding: 1rem;
                        background-color: $cor-branca;
                        border: 1px $cor-verde-sec solid;
                        border-radius: 60px;
                        font-size: 20px;
                        outline: none;
                        @media(max-width:460px) {
                            width: 12rem;
                        }
                    }
                    button {
                        border-radius: 60px;
                        border: $cor-verde-sec 2px solid;
                        background-color: $cor-branca;
                        &:hover {
                            background-color: $cor-verde-sec;
                            transition: .7s;
                        }
                    }
                }
        }
        }
    }

    h2 {
        color: $cor-verde-sec;
    }

    a {
        text-decoration: none;
    }

    @media (max-width:1300px) {

        .negocios,
        .sobrenos,
        .faleconosco {
            display: none;
        }
    }

    @media (max-width:670px) {
        grid-template-areas:
            "titulo-contato"
            "email"
        ;

        .email {
            margin-top: 5rem;
        }
    }
}