.contato {
    display: grid;
    margin: 5rem 5rem;
    grid-template-areas: 
        "titulo-contato negocios sobrenos faleconosco email" 
    ;
    .titulo-contato {
        grid-area: titulo-contato;
    }
    .negocios {
        grid-area: negocios;
    }
    .sobrenos {
        grid-area: sobrenos;
    }
    .faleconosco {
        grid-area: faleconosco;
    }
    .email {
        grid-area: email;
        input {
            width: 20rem;
            padding: 1.5rem;
            background-color: $cor-branca;
            border: 1px $cor-verde-sec solid;
            border-radius: 60px;
            font-size: 20px;
            @media(max-width:460px) {
                width: 12rem;
            }
        }

    }  
    h2 {
        color: $cor-verde-sec;
    }
    @media (max-width:1300px) {
        .negocios,.sobrenos,.faleconosco {
            display: none;
        }
    }
    @media (max-width:670px) {
        grid-template-areas: 
            "titulo-contato"
            "email"
        ;
        .email {
            margin-top: 5rem;
        }
    }
}