@import 'variaveis';

.header {
    background-image: url(../img/painelhero.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    @media (max-width: 400px) {
        height: 30vh;
    }
    @media (max-width: 1200px) {
        height: 80vh;
    }
    @media (max-width:800px) {
        height: 60vh;
    }
    @media (max-width:600px) {
      height: 40vh;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        flex-wrap: wrap;
        .animacao-solarix {
            display: inline-block;
            font-family: monospace;
            font-size: 2em;
            white-space: nowrap;
            overflow: hidden;
            border-right: 2px solid black;
            width: 0;
            animation: typing 5s steps(12, end) infinite, 
                       blink 0.5s step-end infinite;
          }
        h1 {
            color: $cor-branca;
        }
        .links {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;
            a {
                text-decoration: none;
                font-size: 23px;
                color: $cor-branca;
            }
        }
        button {
            font-size: 23px;
            padding: 1.2rem;
            border-radius: 40px;
            background-color: $cor-branca;
            border: none;
            &:hover {
                background-color: transparent;
                border: white solid 1px;
                transition: .7s;
                color: white;
            }
            @media (max-width: 1050px) {
              display: none;
            }
        }
    }
    section {
        text-align: center;
        margin-top: 8rem;
        color: $cor-branca;
        @media (max-width: 960px) {
          margin-top: 0;
        }
        @media(max-width: 750px) {
          p {
            display: none;
          }
        }
        @media(max-width: 650px) {
          h1 {
            display: none;
          }
        }
        h1 {
            font-size: 65px;
        }
        p {
            font-size: 30px;
        }
    }

}

@keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes blink {
    0%, 50% {
      border-color: transparent;
    }
    51%, 100% {
      border-color: black;
    }
  }



